.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  h4 {
    margin-bottom: 0;
    color: #4d4d4d;
  }
}
.logo img {
  width: 55px;
}
.footer-logo img {
  width: 18%;
  margin-bottom: 30px;
}
/* .items-section {
  flex-wrap: unset;
} */

.custom-organic-farm-item {
  .organic-farm-style-two .org-frm-img img {
    margin: 0px auto 0 !important;
    border-radius: 6px;
  }
  .organic-farm-item {
    padding: 24px 24px;
  }
}

.organic-farm-item {
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.8s;
}

.org-frm-img img {
  transition: transform 0.3s;
}

.organic-farm-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.organic-farm-item:hover .org-frm-img img {
  transform: scale(1.05);
}

.item-detail-heading {
  .section-title::before {
    left: auto !important;
  }
}

.custom-about-us-image img {
  max-width: 60%;
}
.about-us-image img {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition for transform and opacity */
  opacity: 1; /* Ensure image starts fully visible */
}

.about-us-image img:hover {
  transform: scale(1.05);
}

.features-icon img {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 20px;
}

.features-icon img:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.mt-60 {
  margin-top: 60px;
}

.spec-table {
  /* Table styling */
  table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px; /* Add border-radius */
    overflow: hidden; /* Ensure border-radius is applied */
  }

  table:hover {
    transform: scale(1.01);
  }

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease-in-out;
  }

  th {
    background-color: #4caf50;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }

  td {
    font-size: 14px;
    color: #333;
  }

  /* Responsive styling */
  @media screen and (max-width: 768px) {
    table {
      width: 100%;
    }

    th,
    td {
      padding: 10px;
      font-size: 12px;
    }
  }
}
.contact-info-icon {
  flex-shrink: 0;
}
/*-----------------Media Queries-------------------------*/

/* Extra Small Devices (Mobile Phones) */
@media (max-width: 480px) {
  .menu-wrap {
    padding: 0 36px;
  }
  .transparent-header {
    top: 0px;
  }
  .slider-bg {
    min-height: 0px !important;
    background-position: center;
    background-size: cover;
    padding-top: 95px;
    padding-bottom: 0px;
    position: relative;
    z-index: 1;
  }
  .slider-bg::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 25% !important;
    background: #2c2c2c;
    opacity: 0.4;
    z-index: -1;
  }
  .slider-bottom-bg {
    display: none;
  }

  .slider-content {
    position: absolute;
    top: 70% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    width: 90%;
    padding: 0;
    box-sizing: border-box;
  }

  .slider-content h2 {
    font-size: 24px;
    text-transform: none;
    line-height: 1;
    margin: 0;
  }

  .slider-content h6 {
    font-size: 16px;
    font-weight: 600;
    color: #f0efef;
    font-style: italic;
    margin-bottom: 0px;
    margin-top: 12px;
  }
  .slider-btn {
    margin-top: 0;
  }
  .slider-btn .btn {
    margin: 15px 9px 15px 0;
    padding: 14px 18px;
    font-size: 10px;
  }
  .about-us-area-row {
    flex-direction: column-reverse;
  }
  .section-title .title {
    font-size: 28px;
  }
  .about-us-area {
    padding-top: 32px;
  }
  .section-title {
    padding-bottom: 22px;
    margin-bottom: 22px;
  }
  .about-us-content .btn {
    margin: 0 9px 15px 0;
    padding: 14px 18px;
    font-size: 10px;
  }
  .farming-solid-bg {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .farming-solid-bg .section-title {
    margin-bottom: 72px;
  }
  .custom-organic-farm-item {
    width: 100%; /* Ensure card takes full width of its container */
    max-width: 300px; /* Limit the maximum width of the card */
    margin: 0 auto; /* Center the card horizontally */
  }

  .organic-farm-item {
    padding: 10px !important;
    border-radius: 8px;
    margin-bottom: 24px;
  }

  .org-frm-img img {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
  }
  .organic-farm-style-two .org-frm-img {
    margin: 0 auto 8px;
  }

  .org-frm-img::after {
    bottom: -45px;
  }

  .org-frm-content {
    padding: 10px !important;
  }

  .org-frm-content h4 {
    font-size: 16px;
    margin-bottom: 8px !important;
  }

  .org-frm-content p {
    font-size: 12px; /* Reduce font size for paragraphs */
    margin-bottom: 8px !important;
    margin-top: 16px;
    line-height: 1.4;
  }
  .org-frm-content > a.btn {
    padding: 14px 24px;
    margin-bottom: 0;

    font-size: 12px;
  }
  .features-area {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

._2qp0Z {
  background-color: #5ad167;
  position: fixed !important;
  width: 60px !important;
  height: 60px !important;
  bottom: 40px !important;
  right: 40px !important;
  background-color: #25d366 !important;
  color: #fff !important;
  border-radius: 50px !important;
  text-align: center !important;
  font-size: 30px !important;
  box-shadow: 2px 2px 3px #999 !important;
  z-index: 10000 !important; /* Ensures it's on top */
  
}
._1qse9 {

  z-index: 999 !important;
}